<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title>Thoughtmuseum</title>
  </head>
  <body class="jhjh">
    <%- include("partials/header") %>
    <div class="container text-center py-5 home-page">
      <h1>Select One</h1>
      <a href="/register-student">Sign me up as a Student</a>
      <br />
      <a href="/register-teacher">Sign me up as a Teacher</a>
      <br />
      <a href="/login">Login</a>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
