<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title>TM | teacher registration</title>
  </head>
  <body class="container">
    <%- include("partials/header") %>

    <h2 class="text-center pt-2">Register as a Teacher</h2>
    <div class="row">
      <div class="col-md-5 col-11 mx-auto">
        <form action="/api/register-teacher" method="post">
          <div class="form-group">
            <label class="py-2">Username</label>
            <input
              type="text"
              required
              id="user"
              class="form-control"
              placeholder="Enter username"
            />
          </div>
          <div class="form-group pb-3">
            <label class="py-2">Password</label>
            <input
              type="password"
              required
              id="pass"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
    <div class="text-center pb-3">
      <p>Not a Teacher?</p>
      <a href="/register-student">Register as a Student</a>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
