<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
    <title>TM | teacher registration</title>
</head>
<body>
    <%- include("partials/header") %>
    <div class="container">
        <h2>Register as a Teacher</h2>
        <form action='/api/register-teacher' method='post'>
            <input type='text' name='username' placeholder='username'/>
            <br>
            <input type='password' name='password' />
            <br>
            <button type='submit'>Register</button>
        </form>
         <p>Not a Teacher?</p> 
         <a href='/register-student'>Register as a Student</a>
         
    </div>
    <%- include("partials/footer") %>
</body>
</html>