<form>
    <h3>New Workspace</h3>
    <label>
        Name
        <input name="name" placeholder="Name" />
    </label>
    <label>
        Description
        <input name="description" placeholder="Description" />
    </label>
</form>